* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: #3e3e3e;
}
.canvas {
  cursor: crosshair;
  border: 2px solid white;
}
.sidebar {
  background-color: #e3e3e3;
  height: 100%;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;

}
.settings {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  justify-content: start;
}
.toggle-sb {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-panel {
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.d-none {
  display: none;
}
.colorbox {
  padding: 0;
  width: 25px;
  height: 25px;
}